<h1 mat-dialog-title>Edit Conference Data for {{ data.event.summary }}</h1>
<div mat-dialog-content [formGroup]="form">
  <mat-tab-group>
    <mat-tab label="Form">
      <div class="tab-content">
        <mat-form-field>
          <mat-label>Service Name</mat-label>
          <input matInput formControlName="name" required />
        </mat-form-field>
        <mat-form-field>
          <mat-label>Service Icon URL</mat-label>
          <input matInput formControlName="iconUri" />
        </mat-form-field>
        <mat-form-field>
          <mat-label>Entry Point URL</mat-label>
          <input matInput formControlName="entryPointUri" required />
        </mat-form-field>
        <mat-form-field>
          <mat-label>Entry Point Label</mat-label>
          <input matInput formControlName="entryPointLabel" />
        </mat-form-field>
        <mat-form-field>
          <mat-label>Conference ID</mat-label>
          <input matInput formControlName="conferenceId" />
        </mat-form-field>
      </div>
    </mat-tab>
    <mat-tab label="JSON">
      <div class="tab-content">
        <mat-form-field class="json-textarea">
          <mat-label>ConferenceData JSON</mat-label>
          <textarea
            matInput
            cdkTextareaAutosize
            #autosize="cdkTextareaAutosize"
            formControlName="json"
            (input)="updateFormFromJson()"
          ></textarea>
        </mat-form-field>
      </div>
    </mat-tab>
  </mat-tab-group>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="onCancel()">Cancel</button>
  <button mat-button color="warn" (click)="onDelete()">Delete Conference</button>
  <button
    mat-flat-button
    color="primary"
    (click)="onSave()"
    [disabled]="!form.valid"
  >
    Save
  </button>
</div>
